* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family : 'Poppins', sans-serif;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : rgb(63, 63, 97);
}

.wrap {
    background : white;
    padding : 30px 15px;
    width : 350px;
}

.wrap .title {
    border-left: 5px solid rgb(65, 24, 245);
    padding-left: 5px;
    margin-bottom: 15px;
}

.input-field {
    display: block;
    margin : 15px 0;
    width : 100%;
}

.input-field .input-label {
    display: block;
    font-size : 15px;
    margin-bottom: 1.5px;
}

.input-field .input {
    font-family: 'Poppins', sans-serif;
    border : 1px solid rgb(194, 159, 159);
    background: transparent;
    outline: none;
    width : 100%;
    padding : 10px;
    font-size: 15px;
}

.input-field input:focus {
    border-color: rgb(16, 139, 240);
    
}

.btn {
    background : rgb(67, 145, 218);
    color : rgb(122, 46, 46);
    padding : 10px;
    width: 100%;
    font-size : 15px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s all ease;
}

.btn:hover, .btn:focus {
    background :transparent;
    border-color: rgb(56, 185, 30);
    color : rgb(49, 173, 86)
}

p {
    margin: 5px 0;
    text-align: center;
}

a {
    text-decoration: none;   
    columns: rgb(18, 155, 75);
    transition: 0.3s all ease;
}

a:focus, a:hover {
    color: rgb(19, 102, 197);
}

.wrap .form {
    margin: 5px 0;
    text-align: center;
    text-decoration: none;   
    columns: rgb(18, 155, 75);
    transition: 0.3s all ease;
}


.wrap .form {
    text-decoration: none;   
    columns: rgb(18, 155, 75);
    transition: 0.3s all ease;
}

.wrap .form p, .wrap .form p {
    color: rgb(19, 102, 197);
}